/* ---------------------GLOBAL RULES-------------------- */

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.bgc-silver {
  background-color: silver;
}
.br {
  border: solid 1px white;
  border-radius: 5px;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #4183d7;
}
/* ---------------------HEADER-------------------- */
.header {
  height: 70px;

  display: flex;
  flex: row;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex: row;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}
.nav1 {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  width: 650px;
}
.logo {
  height: 50px;
}
.button1 {
  color: white;
  border: 1px solid rgb(245, 107, 42);
  padding: 10px 10px 10px 35px;
  border-radius: 8px;
  background-color: rgb(245, 107, 42);
  position: relative;
  cursor: pointer;
}
.symbol1 {
  margin-right: px;
  position: absolute;
  left: 7px;
  top: 8px;
}
.button2 {
  position: relative;
  cursor: pointer;
}
.symbol2 {
  margin-right: 10px;
  position: absolute;
  top: -5px;
  left: -30px;
}
.line {
  background-color: rgb(245, 107, 42);
  height: 5px;
}
/* ---------------------OFFERS-------------------- */
.hero {
  background-color: #fafafa;
  height: 220px;
  display: flex;
  justify-content: center;
}
.container-input {
  background-color: white;
  width: 810px;
  height: 130px;
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.input-search1 {
  width: 320px;
  height: 44px;
  padding-left: 20px;
  font-size: 17px;
}
.input-search2 {
  color: white;
  background-color: #4183d7;
  width: 220px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
}

.container-global {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.offer-slide {
  height: 180px;
  width: 1000px;
  background-color: white;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
}
.text-offer {
  margin: 15px 0px 15px 30px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.container-img {
  display: flex;
}

.img-offer {
  object-fit: contain;
  width: 240px;
  height: 180px;
}
.title {
  font-size: 26px;
  margin-bottom: 10px;
}
.price {
  font-size: 20px;
  color: rgb(245, 107, 42);
  margin-bottom: 60px;
}
.date {
  font-size: 16px;
}
.container-text-nav2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------OFFER-------------------- */
.wrapper-offer {
  display: flex;
  width: 1200px;
  margin-top: 30px;
}

.container-left {
  width: 700px;
  margin-right: 18px;
}

.container-offer-img {
  display: flex;
  flex: 1;
  justify-content: center;
}
.offer-img {
  object-fit: contain;
  height: 393px;
  display: flex;
}
.offer-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 30px;
}
.container-2 {
  height: 160px;
  margin: 20px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description {
  font-size: 19px;
  line-height: 25px;
}
.container-right {
  flex: 1;
}
.container-4 {
  width: 279px;
  height: 195px;
}
.container-4_1 {
  height: 67.5px;
  border-bottom: 1px solid #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.user {
  font-size: 23px;
}

/* ---------------------FOOTER-------------------- */
footer {
  line-height: 80px;
  background-color: #474747;
  text-align: center;
  color: white;
}
